<h1>Welcome</h1>
<p>Welcome to Social Node 1.0.0</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world of completely private as your own personal diary</p>
{{#if user}}

{{else}}
    <a href="/auth/google" class="red darken-1 btn"><i class="fa fa-google left" aria-hidden="true"></i> Login with Google</a>
{{/if}}